@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/PlayfairDisplay-Regular.ttf);
}
@font-face {
  font-family: PlayfairDisplay;
  src: url(../fonts/PlayfairDisplay-Bold.ttf);
  font-weight: bold;
}